@{
    ViewBag.Title = "Play Chess";
}

<div class="jumbotron">
    <h1>PROJECT: PlayChess.xyz</h1>
    <p class="lead">İŞKUR destekli Bahçeşehir Üniversitesi ve Wissen Academie işbirliği ile yürütülen Oyun Geliştirme Uzmanlığı meslek edindirme kursu kapsamında MVC altyapısı ile hazırlanmış çevrimiçi satranç uygulaması.</p>
    <p><a href="https://playchess.xyz/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Sami ÇİÇEKLİ</h2>
        <p>
            Text
        </p>
        <p><a class="btn btn-default" href="https://github.com/samicicekli95">See at GitHub &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Hüseyin AKKAYA</h2>
        <p>Text.</p>
        <p><a class="btn btn-default" href="https://github.com/HuseyinAkkaya">See at GitHub &raquo;</a></p>
    </div>
</div>